/**
 * CSS to customize the chameleon theme
 * for the django app
 */

/* Context menu */
#context_menu {
	float: right;
	padding-right: 48px;
}

/* Nice forms */

.niceform {
	margin-bottom: 20px;
}

.niceform p {
	padding: 0;
}

.niceform label {
	diplay: block;
	float: left;
	width: 200px;
}

.niceform input {
	display: block;
}

.niceform .section_title {
	font-size: 1.5em;
	padding-bottom: 5px;
}

.niceform .parts_separator {
	font-size: 1.3em;
	border-bottom: 1px solid rgb(200, 200, 200);
	margin-right: 50px;
}

.niceform .link {
	padding-bottom: 5px;
}

.niceform .submit input {
	width: 30%;
	margin: auto;
}

/* Message blocks */

.msg_confirm, .msg_error {
	margin: 20px;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
}

.msg_confirm p, .msg_confirm ul, .msg_error p, .msg_error ul {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 0;
	padding-bottom: 0;
}

.msg_confirm {
	border-color: green;
}


.msg_error {
	border-color: red;
}

/* Tables */

.nicetable {
	width: 90%;
	margin: 20px auto;
}

.nicetable td, .nicetable th {
	border: 1px solid #929292;
	padding: 3px;
	text-align: center;
}

.nicetable th {
	font-weight: bold;
}

/* Calendar */

#content table.calendar {
	margin: 5px 0;
	text-align: center;
	border: 1px solid #929292;
	width: 100%;
}

#content table.calendar th.hour, #content table.calendar th.hours {
	width: 5%;
}

#content table.calendar tr.days {
	background: linear-gradient(to bottom, white, #929292);
	background: -moz-linear-gradient(to bottom, white, #929292);
	background: -webkit-linear-gradient(to bottom, white, #929292);
	background: -ms-linear-gradient(to bottom, white, #929292);
	background: -o-linear-gradient(to bottom, white, #929292);
	color: #1D1D1D;
}

#content table.calendar tr.days th.links {
	font-size: 0.9em;
}

#content table.calendar tr.days th.current {
	color: #7d7d0f;
}

#content table.calendar span.day {
	font-size: 1.3em;
	display: block;
}

#content table.calendar .firstline th.hour {
	border-top: 1px solid #929292;
}

#content table.calendar .lastline th.hour {
	border-bottom: 1px solid #929292;
}

#content table.calendar th.hour span {
	font-size: 1.3em;
}

#content table.calendar .firstline td {
	border-top-color: #929292;
	border-top-style: solid;
}

#content table.calendar .lastline td {
	border-bottom-color: #929292;
	border-bottom-style: solid;
}

#content table.calendar td {
	border-style: solid;
	border-width: 1px;
	border-color: #DDDDDD #929292;
	color: #1D1D1D;
	padding: 0;
}

#content table.calendar .events_container {
	position: relative;
	height: 23px;
	margin-top: -1px;
}

#content table.calendar .event {
	position: absolute;
	border: 1px solid #1D1D1D;
	background-color: white;
	width: 100%;
	z-index: 10;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ie-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
}

#content table.calendar .event h3 {
	color: inherit;
	font-family: inherit;
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 3px;
}

#content table.calendar .event h4 {
	color: inherit;
	font-family: inherit;
	font-size: 1.2em;
	font-style: italic;
}

#content table.calendar .event p {
	padding-bottom: 5px;
	padding-left: 3px;
	padding-right: 3px;
}

#content table.calendar .event .animators span, #content table.calendar .event .location span {
	font-weight: bold;
}


#content table.calendar .event.open {
	background-color: #ABB800;
}

#content table.calendar .event.session {
	background-color: #00ABB8;
}

#content table.calendar .event.talk {
	background-color: #DD00EE;
}

#content table.calendar .event_zone .tooltip {
	opacity: 0;
	-moz-transition-property: opacity;
	-moz-transition-duration: 1s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
	-ie-transition-property: opacity;
	-ie-transition-duration: 1s;
	transition-property: opacity;
	transition-duration: 1s;
	position: absolute;
	background-color: white;
	width: 180px;
	border: 1px solid #929292;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ie-border-radius: 10px;
	border-radius: 10px;
	white-space: normal;
	padding: 3px;
	box-shadow: 8px 8px 12px #aaa;
	-webkit-box-shadow: 8px 8px 12px #aaa;
	-moz-box-shadow: 8px 8px 12px #aaa;
	-ie-box-shadow: 8px 8px 12px #aaa;
	box-shadow: 8px 8px 12px #aaa;
	pointer-events: none;
	top: 0;
	left: -40px;
	z-index: 99;
}

#content table.calendar .event_zone:hover .tooltip {
	opacity: 1;
	pointer-events: all;
}

#content table.calendar .event_zone .tooltip h3 {
	color: #1D1D1D;
}

#content table.calendar .event_zone .tooltip p {
	font-weight: normal;
	text-align: justify;
	padding: 0;
}

#content table.calendar .event_zone .tooltip p.animators span, #content table.calendar .event_zone .tooltip p.location span {
	font-weight: bold;
}

/* Pager */

#content .pager {
	margin: 5px 0;
}

#content .pager p {
	padding: 0;
}

#content .pager .next {
	float: right;
}