{% extends "layout/mobile.html" %}
{% load static %}
{% block title %}
	Téléfab
{% endblock %}
{% block content %}
	Le Téléfab de Brest est {% if place.now_open %}<span class="place_open">ouvert</span>{% else %}<span class="place_closed">fermé</span>{% endif %}.
	<form method="POST" action="{% url 'main.views.update_place_mobile' api_password %}">
		{% csrf_token %}
		<input type="hidden" name="action" value="switch" />
		<input type="submit" value="Déclarer {% if place.now_open %}fermé{% else %}ouvert{% endif %}" id="place-switch" />
	</form>
{% endblock %}