{% extends "layout/lab.html" %}
{% load static %}
{% block title %}
	{% if is_new %}Nouvel évènement{% else %}Modification d'un évènement{% endif %}
{% endblock %}
{% block page_title %}
	{% if is_new %}Nouvel évènement{% else %}Modification d'un évènement{% endif %}
{% endblock %}
{% block lab_link %}
	{% if is_new %}Nouvel évènement{% else %}Modification d'un évènement{% endif %}
{% endblock %}
{% block content %}
	<h2>{% if is_new %}Nouvel évènement{% else %}Modification d'un évènement{% endif %}</h2>
	{% if saving_errors %}
		<div class="msg_error">
			<p>
				L'enregistrement a échoué car l'évènement n'était pas valide :
			</p>
			<ul>
				{% for error in saving_errors %}
					<li>
						{{error}}{% if forloop.last %}.{% else %} ;{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	<form method="POST" action="{% if is_new %}{% url main.views.edit_event %}{% else %}{% url main.views.edit_event event.id %}{% endif %}" class="niceform" autocomplete="off">
		{% csrf_token %}
		<input type="hidden" name="action" value="save" />
		<p>
			<label for="start_date">Date de début :</label>
			<input type="text" id="start_date" name="start_date" value="{{event.start_time|date:'d/m/Y'|default:''}}" />
		</p>
		<p>
			<label for="start_hour">Heure de début :</label>
			<select id="start_hour" name="start_hour" class="half_input">
				{% for hour in hours %}
					<option value="{{hour}}">{{hour}}</option>
				{% endfor %}
			</select>
			<span class="separator">:</span>
			<input type="text" id="start_min" name="start_min" class="half_input" value="{{event.start_time|date:'m'}}" />
		</p>
		<p>
			<label for="end_date">Date de fin :</label>
			<input type="text" id="end_date" name="end_date" value="{{event.end_time|date:'d/m/Y'|default:''}}" />
		</p>
		<p>
			<label for="end_hour">Heure de fin :</label>
			<select id="end_hour" name="end_hour" class="half_input">
				{% for hour in hours %}
					<option value="{{hour}}">{{hour}}</option>
				{% endfor %}
			</select>
			<span class="separator">:</span>
			<input type="text" id="end_min" name="end_min" class="half_input" value="{{event.end_time|date:'m'}}" />
		</p>
		<p class="submit">
			<input type="submit" value="Enregistrer" />
		</p>
	</form>
{% endblock %}
{% block css %}
	<link media="screen" type="text/css" href="{% get_static_prefix %}main/css/jquery-ui/jquery-ui.css" rel="stylesheet">
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{% get_static_prefix %}main/js/jquery-ui.js"></script>
	<script type="text/javascript" src="{% get_static_prefix %}main/js/jquery.ui.datepicker-fr.js"></script>
	<script type="text/javascript" src="{% get_static_prefix %}main/js/edit_event.js"></script>
{% endblock %}