{% extends "layout/default.html" %}
{% block title %}
	Calendrier
{% endblock %}
{% block page_title %}
	Calendrier
{% endblock %}
{% block page_subtitle %}
	{% with first_day_data=hours_data.0.lines.0.days|first last_day_data=hours_data.0.lines.0.days|last %}
		Du {{first_day_data.day|date:"d/m/Y"}} au {{last_day_data.day|date:"d/m/Y"}}
	{% endwith %}
{% endblock %}
{% block page_link %}
	Calendrier
{% endblock %}
{% block content %}
	<div class="pager">
		<p class="next">
			<a href="{% url main.views.show_events year=next_date.year month=next_date.month day=next_date.day %}">Semaine suivante &raquo;</a>
		</p>
		<p class="previous">
			<a href="{% url main.views.show_events year=previous_date.year month=previous_date.month day=previous_date.day %}">&laquo; Semaine précédente</a>
		</p>
	</div>
	<table class="calendar">
		<!-- Days list -->
		<tr class="days">
			<th class="hours">&nbsp;</th>
			{% for day_data in hours_data.0.lines.0.days %}
				<th{% if day_data.current %} class="current"{% endif %}>
					<span class="day">{{ day_data.day|date:"l"|capfirst }}</span>
					{{ day_data.day|date:"j F" }}
				</th>
			{% endfor %}
		</tr>
		<!-- Hours list -->
		{% for hour_data in hours_data %}
			<!-- n lines per hour -->
			{% for line_data in hour_data.lines %}
				<tr class="line{% if forloop.first %} firstline{% endif %}{% if forloop.last %} lastline{% endif %}">
					<!-- Hour title -->
					{% if forloop.first %}
						<th class="hour">
							<span>{{ hour_data.hour }}</span>&nbsp;h
						</th>
					{% else %}
						<th class="hour">&nbsp;</th>
					{% endif %}
					<!-- One cell per day -->
					{% for day_data in line_data.days %}
						<td{% if day_data.event %} class="active active{{day_data.cell_index}} {{day_data.event.category_id}}"{% endif %}>
						{% if day_data.cell_index == 0 %}
							<!-- Tooltip with all info about the event -->
							<div class="tooltip">
								<h3>{{day_data.event.global_title}}</h3>
								<h4>De {{day_data.event.start_time|date:"G:i"}} à {{day_data.event.end_time|date:"G:i"}}</h4>
								{% if day_data.event.description %}
									<p>{{day_data.event.description}}</p>
								{% endif %}
								{% if day_data.event.animators_list %}
									<p class="animators">{{day_data.event.animators_list}}</p>
								{% endif %}
							</div>
							<!-- Event title -->
							{{ day_data.event.global_title }}
						{% endif %}
						{% if day_data.cell_index == 1 %}
							<!-- Event period -->
							De {{day_data.event.start_time|date:"G:i"}} à {{day_data.event.end_time|date:"G:i"}}
						{% endif %}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
			
		{% endfor %}
	</table>
{% endblock %}