{% extends "layout/default.html" %}
{% load static %}
{% load browserid %}
{% block title %}
	Connexion au blog
{% endblock %}
{% block page_title %}
	Connexion au blog
{% endblock %}
{% block page_link %}
	Connexion au blog
{% endblock %}
{% block content %}
	{% if user.is_authenticated %}
		<p>
			Vous n'êtes pas encore autorisé à contribuer au blog. Faites une demande par mail pour être autorisé.
		</p>
	{% else %}
		<p>
			Cliquez ci-dessous pour vous connecter à l'administration du blog.
			Utilisez votre adresse email Télécom Bretagne si vous en avez une. 
		</p>
		{% browserid_login text='Se connecter au blog' color='dark' next='/wp-admin' %}
		</p>
		<p>
			Si vous n'arrivez pas à accéder à l'administration du blog, c'est que vous n'avez pas encore été autorisé à y contribuer.
			Faites une demande par mail pour être autorisé.
		</p>
		<p>
			Ce site utilise <a href="http://www.mozilla.org/persona/" title="Plus d'informations sur Mozilla Persona">Mozilla Persona</a>.
		</p>
	{% endif %}
{% endblock %}