{% extends "layout/default.html" %}
{% load static %}
{% block title %}
	Se connecter
{% endblock %}
{% block page_title %}
	Se connecter
{% endblock %}
{% block page_link %}
	Se connecter
{% endblock %}
{% block content %}
	<p>
		Cliquez ci-dessous pour vous connecter à l'espace "Mon lab". Si vous n'avez pas de compte, vous pourrez en créer un. Utilisez votre adresse email Télécom Bretagne si vous en avez une. 
	</p>
	<p>
		L'espace "Mon lab" vous permet de réserver du matériel, contribuer au blog...
	</p>
	<p class="signin">
		<a id="browserid" href="#"><img src="{% get_static_prefix %}main/img/sign_in_browserid.png" alt="Se connecter" /></a>
	</p>
	<form method="POST" action="{% url browserid_verify %}">
	   {% csrf_token %}
	   {{ browserid_form.as_p }}
	   <input type="hidden" name="next" value="{{ next }}" />
	</form>
	<p>
		Ce site utilise <a href="http://www.mozilla.org/persona/" title="Plus d'informations sur Mozilla Persona">Mozilla Persona</a>.
	</p>
{% endblock %}
{% block scripts %}
	{{ browserid_form.media }}
{% endblock %}