{% extends "layout/default.html" %}
{% load static %}
{% block title %}
	Se connecter
{% endblock %}
{% block page_title %}
	Se connecter
{% endblock %}
{% block page_link %}
	Se connecter
{% endblock %}
{% block content %}
	<p>
		<strong>L'espace "Mon lab" vous permet de gérer vos emprunts de matériel, contribuer au blog...</strong>
	</p>
	<p>
		Cliquez ci-dessous pour vous connecter à l'espace "Mon lab" :
	</p>
	<p>
		<a href="{% url 'main.views.cas_connection' %}?next={{next}}" id="cas_link">Se connecter par Télécom Bretagne (CAS)</a>
	</p>
	<p>
		<em>Si vous n'avez pas de compte à Télécom Bretagne, <a href="{% url 'main.views.local_connection' %}?next={{next}}">cliquez ici</a>.</em>
	</p>
{% endblock %}