{% extends "layout/lab.html" %}
{% load static %}
{% block title %}
	Mon profil
{% endblock %}
{% block page_title %}
	Mon profil
{% endblock %}
{% block lab_link %}
	Mon profil
{% endblock %}
{% block content %}
	<h2>Mes informations</h2>
	{% if just_saved %}
		<div class="msg_confirm">
			<p>
				Les informations ont été enregistrées.
			</p>
		</div>
	{% endif %}
	{% if first_edit %}
		<p>
			Avant de continuer, merci de renseigner ces informations :
		</p>
	{% endif %}
	<form method="POST" class="niceform" action="{% url 'main.views.profile' %}">
		{% csrf_token %}
		{% if first_edit %}
			<input type="hidden" name="first_edit" value="1" />
		{% endif %}
		<p>
			<label for="first_name">Prénom :</label>
			<input type="text" name="first_name" id="first_name" value="{{user.first_name}}" />
		</p>
		<p>
			<label for="last_name">Nom :</label>
			<input type="text" name="last_name" id="last_name" value="{{user.last_name}}" />
		</p>
		<p class="submit">
			<input type="submit" value="Enregistrer" />
		</p>
	</form>
	{% if not first_edit %}
		<h2>Mes identifiants</h2>
		<p>
			Pour changer votre mot de passe, rendez-vous sur <a href="https://login.persona.org/">Mozilla Persona</a>.
		</p>
		<p>
			Attention, il n'est pas possible de changer votre adresse email ({{user.email}}) pour le moment. Contactez-nous si nécessaire.
		</p>
	{% endif %}
{% endblock %}