{% extends "layout/lab.html" %}
{% block title %}
	Mon lab
{% endblock %}
{% block page_title %}
	Mon lab
{% endblock %}
{% block lab_link %}
	Bienvenue
{% endblock %}
{% block content %}
	{% if user.is_staff %}
		<h2>Administration</h2>
		<ul>
			<li><a href="{% url 'admin:index' %}">Administration du lab</a></li>
			{% if user.get_profile.is_blog_user %}
				<li><a href="{% url 'main.views.blog' %}">Administration du blog</a></li>
			{% endif %}
		</ul>
	{% endif %}
	<h2>Matériel</h2>
	<ul>
		<li><a href="{% url 'main.views.edit_loan' %}">Demander un prêt</a></li>
		<li><a href="{% url 'main.views.show_loans' %}">Voir mes prêts en cours</a></li>
	</ul>
	<h2>Documentation</h2>
	<ul>
		<li><a href="{% url 'main.views.blog' %}">Contribuer au blog</a></li>
	</ul>
	{% if user.get_profile.is_animator %}
		<h2>Espace animateurs</h2>
		<ul>
			<li><a href="{% url 'main.views.update_place' %}">{% if telefab_open %}Déclarer le Téléfab de Brest fermé{% else %}Déclarer le Téléfab de Brest ouvert{% endif %}</a> (<a href="{% url 'main.views.update_place_mobile' api_password %}">version mobile</a>)</li>
			<li><a href="{% url 'main.views.show_all_loans' %}">Gérer les demandes de prêts</a></li>
		</ul>
	{% endif %}
	<h2>Mon compte</h2>
	<ul>
		<li><a href="{% url 'main.views.profile' %}">Mon profil</a></li>
		<li><a href="{% url 'main.views.disconnect' %}">Se déconnecter</a></li>
	</ul>
{% endblock %}