{% extends "layout/lab.html" %}
{% load static %}
{% block title %}
	Mon lab
{% endblock %}
{% block page_title %}
	Mon lab
{% endblock %}
{% block lab_link %}
	Bienvenue
{% endblock %}
{% block content %}
	{% if user.get_profile.is_animator %}
		<h2>Téléfab Brest</h2>
		<ul>
			<li class="special_link"><a href="{% url main.views.update_place %}">{% if telefab_open %}Déclarer fermé{% else %}Déclarer ouvert{% endif %}</a></li>
		</ul>
	{% endif %}
	<h2>Mon compte</h2>
	<ul>
		<li><a href="{% url main.views.profile %}">Mon profil</a></li>
		<li><a href="{% url main.views.disconnect %}">Se déconnecter</a></li>
	</ul>
	<h2>Matériel</h2>
	<ul>
		<li><a href="{% url main.views.edit_loan %}">Demander un prêt</a></li>
		<li><a href="{% url main.views.show_loans %}">Voir mes prêts en cours</a></li>
		{% if user.get_profile.is_animator %}
			<li class="special_link"><a href="{% url main.views.show_all_loans %}">Gérer tous les prêts</a></li>
		{% endif %}
	</ul>
{% endblock %}