<table class="nicetable">
	<tr>
		{% if animator %}
			<th>Emprunteur</th>
		{% endif %}
		<th>État</th>
		<th>Prêt</th>
		<th>Retour programmé</th>
		{% if animator %}
			<th>Actions</th>
		{% endif %}
	</tr>
	{% for loan in loans %}
		<tr>
			{% if animator %}
				<td>
					{{loan.borrower.get_profile}}
				</td>
			{% endif %}
			<td>
				{% if loan.cancel_time %}
					Annulé
				{% elif loan.return_time %}
					Matériel rendu
				{% else %}
					Matériel prêté
				{% endif %}
			</td>
			<td>
				<ul>
					{% for booking in loan.bookings.all %}
						<li>{{ booking.equipment.name }}{% if booking.quantity > 1 %} (x{{booking.quantity}}){% endif %}</li>
					{% endfor %}
				</ul>
				{% if loan.comment %}
					<p class="comment">
						{{ loan.comment }}
					</p>
				{% endif %}
			</td>
			<td>
				{{ loan.scheduled_return_date|date:"d/m/Y" }}
			</td>
			{% if animator %}
				<td>
					<ul>
						{% if not loan.cancel_time %}
							<li>
								{% if loan.return_time %}
									<a href="{% url 'main.views.manage_loan' loan_id=loan.id action='return' value=0 %}">Annuler rendu</a>
								{% else %}
									<a href="{% url 'main.views.manage_loan' loan_id=loan.id action='return' value=1 %}">Déclarer rendu</a>
								{% endif %}
							</li>
							<li>
								<a href="{% url 'main.views.edit_loan' loan.id %}">Modifier</a>
							</li>
						{% endif %}
						<li>
							{% if loan.cancel_time %}
								<a href="{% url 'main.views.manage_loan' loan_id=loan.id action='cancel' value=0 %}">Rétablir le prêt</a>
							{% else %}
								<a href="{% url 'main.views.manage_loan' loan_id=loan.id action='cancel' value=1 %}">Annuler le prêt</a>
							{% endif %}
						</li>
					</ul>
				</td>
			{% endif %}
		</tr>
	{% empty %}
		<tr>
			<td colspan="5">Aucun prêt</td>
		</tr>
	{% endfor %}
</table>