{% extends "layout/lab.html" %}
{% load static from staticfiles %}


{% block title %}
	{% if panier == 1 %}
 		Modification de panier 
	{% endif %}
	{% if panier == 0 %} 
		Déclaration de prêt 
	{% endif %}
{% endblock %}
{% block page_title %}
	{% if panier == 1 %} Modification de panier {% endif %}
	{% if panier == 0 %} Déclaration de prêt {% endif %}
{% endblock %}
{% block lab_link %}
	{% if panier == 1 %} Modification de panier {% endif %}
	{% if panier == 0 %} Déclaration de prêt {% endif %}
{% endblock %}
{% block content %}
	{% if panier == 1 %}
	<h2>Modification de panier</h2>
	{% if saving_errors %}
		<div class="msg_error">
			<p>
				L'enregistrement a échoué car la déclaration de prêt n'était pas valide :
			</p>
			<ul>
				{% for error in saving_errors %}
					<li>
						{{error}}{% if forloop.last %}.{% else %} ;{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	<form method="POST" action="{% if is_new %}{% url 'main.views.edit' panier=1 %}{% else %}{% url 'main.views.edit' loan.id 1 %}{% endif %}" class="niceform" autocomplete="off">
	{% endif %}

	{% if panier == 0 %}
	<h2>Déclaration de prêt</h2>
	{% if saving_errors %}
		<div class="msg_error">
			<p>
				L'enregistrement a échoué car la déclaration de prêt n'était pas valide :
			</p>
			<ul>
				{% for error in saving_errors %}
					<li>
						{{error}}{% if forloop.last %}.{% else %} ;{% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	<form method="POST" action="{% if is_new %}{% url 'main.views.edit' panier=0 %}{% else %}{% url 'main.views.edit' loan.id 0 %}{% endif %}" class="niceform" autocomplete="off">
	{% endif %}

		{% csrf_token %}
		<input type="hidden" name="action" value="save" />
		<p>
			<label for="borrower_username">Emprunteur :</label>
			<input type="text" id="borrower_username" name="borrower_username" value="{{loan.borrower.username}}" />
		</p>
		<p>
			<label for="borrower_email">Courrier électronique :</label>
			<input type="email" id="borrower_email" name="borrower_email" value="{{loan.borrower.email}}" disabled="disabled" />
		</p>
		<p>
			<label for="scheduled_return_date">Date de retour prévue :</label>
			<input type="text" id="scheduled_return_date" name="scheduled_return_date" value="{{loan.scheduled_return_date|date:'d/m/Y'|default:''}}" />
		</p>
		<p>
			<label for="comment">Commentaire :</label>
			<textarea id="comment" name="comment">{{loan.comment}}</textarea>
		</p>
		<div class="booking_sections">
			{% if not is_new %}
				{% for booking in loan.bookings.all %}
					<div class="booking_section edit_disabled">
						<h2 class="parts_separator">
							Équipement
						</h2>
						<p>
							<label for="equipment_name{{forloop.counter}}">Nom :</label>
							<input type="text" id="equipment_name{{forloop.counter}}" name="equipment_name{{forloop.counter}}" class="equipment_name" value="{{booking.equipment.name}}" disabled="disabled" />
							<span class="tip"><a href="{% url 'main.views.show_equipment_categories' %}" target="_blank" class="browse_equipments">Parcourir</a></span>
						</p>
						<p>
							<label for="equipment_quantity{{forloop.counter}}">Quantité :</label>
							<input type="text" id="equipment_quantity{{forloop.counter}}" name="equipment_quantity{{forloop.counter}}" class="equipment_quantity" value="{{booking.quantity}}" />
						</p>
						<p class="link">
							<a href="#" class="delete_equipment">Supprimer cet équipement</a>
						</p>
						<input type="hidden" name="equipment_booking_id{{forloop.counter}}" class="equipment_booking_id" value="{{booking.id}}" />
						<input type="hidden" name="equipment_id{{forloop.counter}}" class="equipment_id" value="{{booking.equipment.id}}" />
						<input type="hidden" name="equipment_remove{{forloop.counter}}" class="equipment_remove" value="0" />
					</div>
				{% endfor %}
			{% else %}
					<div class="booking_section">
						<h2 class="parts_separator">
							Équipement
						</h2>
						<p>
							<label for="equipment_name1">Nom :</label>
							<input type="text" id="equipment_name1" name="equipment_name1" class="equipment_name" value="" />
							<span class="tip"><a href="{% url 'main.views.show_equipment_categories' %}" target="_blank" class="browse_equipments">Parcourir</a></span>
						</p>
						<p>
							<label for="equipment_quantity1">Quantité :</label>
							<input type="text" id="equipment_quantity1" name="equipment_quantity1" class="equipment_quantity" value="1" />
						</p>
						<p class="link">
							<a href="#" class="delete_equipment">Supprimer cet équipement</a>
						</p>
						<input type="hidden" name="equipment_booking_id1" class="equipment_booking_id" value="" />
						<input type="hidden" name="equipment_id1" class="equipment_id" value="" />
						<input type="hidden" name="equipment_remove1" class="equipment_remove" value="0" />
					</div>
			{% endif %}
		</div>
		<p class="link">
			<a href="#" class="add_equipment">Ajouter un équipement</a>
		</p>
		<p class="submit">
			<input type="submit" value="Enregistrer" />
		</p>
	</form>
	<p>
		{% if panier == 1 %}
			<a href="{% url 'main.views.show_panier' %}">
			Retour à la liste des paniers en cours</a>
		{% endif %}
		{% if panier == 0 %}
			<a href="{% url 'main.views.show_all_loans' %}">
			Retour à la liste des prêts en cours</a>
		{% endif %}
	</p>
{% endblock %}
{% block css %}
	<link media="screen" type="text/css" href="{% static 'main/css/jquery-ui/jquery-ui.css' %}" rel="stylesheet">
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{% static 'main/js/jquery-ui.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/jquery.ui.datepicker-fr.js' %}"></script>
	<script type="text/javascript" src="{% static 'main/js/edit.js' %}"></script>
	<script type="text/javascript">
		/* Data about all equipment in javscript */
		var equipment_data = [
			{% for equipment in equipments %}
				{
					'id': {{equipment.object.id}},
					'name': "{{equipment.object.name|escapejs}}",
					'quantity': {{equipment.quantity}}
				}{% if not forloop.last %},{% endif %}
			{% endfor %}
		];
		/* Data about all users in javscript */
		var user_data = [
			{% for user in users %}
				{
					'id': "{{user.username|escapejs}}",
					'name': "{{user.get_profile|escapejs}}",
					'email': "{{user.email|escapejs}}"
				}{% if not forloop.last %},{% endif %}
			{% endfor %}
		];
	</script>
{% endblock %}
