{% extends "layout/lab.html" %}
{% block title %}
	{% if animator %}Tous les prêts{% else %}Prêts en cours{% endif %}
{% endblock %}
{% block page_title %}
	{% if animator %}Tous les prêts{% else %}Prêts en cours{% endif %}
{% endblock %}
{% block lab_link %}
	{% if animator %}Tous les prêts{% else %}Prêts en cours{% endif %}
{% endblock %}
{% block content %}
	<h2>Prêts en cours</h2>
	{% if not animator %}
		<p>
			Vous êtes responsable du matériel prêté. Rendez le matériel directement à un animateur du Téléfab.
		</p>
	{% else %}
		<p>
			<a href="{% url 'main.views.edit_loan' %}">
				Déclarer un prêt
			</a>
		</p>
	{% endif %}
	{% include "loans/_list.html" with loans=loans animator=animator only %}
	<h2>Anciens prêts (visibles 7 jours)</h2>
	{% include "loans/_list.html" with loans=old_loans animator=animator only %}
{% endblock %}