{% extends "layout/default.html" %}
{% block title %}
	Matériel
{% endblock %}
{% block page_title %}
	Matériel
{% endblock %}
{% block page_link %}
	Matériel
{% endblock %}
{% block content %}
	<div class="entry post clearfix">
		<p>
			Choisissez un type de matériel pour voir ce qui est disponible au Téléfab :
		</p>
		<ul class="equipment_categories">
			{% for category in categories %}
				<li>
					<a href="{% url main.views.show_equipments category=category.id %}">{{ category.name|capfirst }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}