/**
 * CSS to customize the chameleon theme
 * for the django app
 */

/* Naked pages for modal iframes */

body.naked {
	background: none;
	padding: 0;
}

.naked #container {
	width: 100%;
	box-shadow: none;
	background: none;
}

.naked #content {
	padding: 10px;
}

.naked .entry.post {
	padding: 0;
}

/* Context menu */
#context_menu {
	float: right;
	padding-right: 48px;
}

/* Nice forms */

.niceform {
	margin-bottom: 20px;
}

.niceform p {
	padding: 0;
}

.niceform label {
	vertical-align: top;
	display: inline-block;
	width: 200px;
	margin: 7px 0;
}

.niceform input, .niceform select, .niceform textarea {
	vertical-align: top;
	display: inline-block;
	width: 250px;
	padding: 2px;
	margin: 7px 0;
}

.niceform textarea {
	height: 70px;
}

.niceform select {
	width: 256px;
}

.niceform select.half_input {
	width: 123px;
}

.niceform .half_input {
	width: 117px;
}

.niceform .separator {
	width: 10px;
	margin: 7px 0;
}

.niceform .tip {
	display: inline-block;
	vertical-align: top;
	line-height: 24px;
	margin: 7px 10px;
}

.niceform .section_title {
	font-size: 1.5em;
	padding-bottom: 5px;
}

.niceform .parts_separator {
	font-size: 1.3em;
	border-bottom: 1px solid rgb(200, 200, 200);
	margin-right: 50px;
	padding-top: 10px;
}

.niceform .link {
	padding-bottom: 5px;
}

.niceform .submit {
	padding-bottom: 15px;
	width: 30%;
	margin: auto;
}

.niceform .submit input {
	width: 100%;
}

/* Message blocks */

.msg_confirm, .msg_error, .niceform .errorlist {
	margin: 20px;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
}

.msg_confirm p, .msg_confirm ul, .msg_error p, .msg_error ul, .niceform .errorlist li {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 0;
	padding-bottom: 0;
}

.msg_confirm {
	border-color: green;
}


.msg_error, .niceform .errorlist {
	border-color: red;
}

.niceform .errorlist li {
	list-style-type: none;
}

/* Tables */

.nicetable {
	width: 90%;
	margin: 20px auto;
}

.nicetable td, .nicetable th {
	border: 1px solid #929292;
	padding: 3px;
	text-align: center;
}

.nicetable th {
	font-weight: bold;
}

/* Loans */

.booking_section.edit_disabled .tip {
	display: none;
}

.nicetable .comment {
	font-style: italic;
}

/* Equipments */

#content .equipment_categories .all em {
	color: inherit;
}

#content .equipments p {
	padding: 0;
}

#content .equipments li {
	margin-bottom: 15px;
}

#content .equipments p strong {
	display: inline-block;
	width: 9em;
}

/* Pager */

#content .pager {
	margin: 5px 0;
}

#content .pager p {
	padding: 0;
}

#content .pager .next {
	float: right;
}

/* Authentication */

#cas_link {
	display: block;
	height: 80px;
	line-height: 80px;
	padding-left: 85px;
	background-image: url("/lab/static/main/img/logo-tb.gif");
	background-repeat: no-repeat;
	background-position: left center;
}

/* Mobile style */

#mobile {
	text-align: center;
	font-size: 1.4em;
}

#place-switch {
	margin-top: 2em;
	font-size: 1.4em;
}